* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 16px;
}

.headline {
  color: #E1624F;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

#page {
  padding: 88px 80px 0 80px;
}

h1 {
  color: #1B1B1B;
  font-size: 36px;
  margin: 0 0 40px 0;
}

h2 {
  color: #1B1B1B;
  font-size: 32px;
  margin: 0 0 8px 0;
}

h3 {
  color: #1B1B1B;
  font-size: 28px;
  margin: 20px 0 4px 0;
}

h4 {
  font-size: 16px;
  color: #333333;
  margin: 10px 0 0 0;
}

.content-card {
  font-size: 16px;
  color: #333333;
  margin: 0px 0 20px 0;
}

.color-blue {
  color: #0C51A7;
}

.color-purple {
  color: #591B98;
}

.color-pink {
  color: #E5245E;
}

.color-orange {
  color: #E95E10;
}

ul {
  font-weight: bold;
  font-size: 16px;
  list-style-position: inside;
  padding-left: 0;
  margin: 0 0 48px 0;
}

.description {
  font-style: italic;
  text-align: center;
  font-size: 16px;
  color: #333333;
  margin-top: 24px;
}

.paragraph {
  font-size: 16px;
  color: #333333;
  margin: 0 0 64px 0;
}

.content-card, .paragraph {
  text-align: justify;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 28px;
}

.final-description {
  color: #333333;
  font-size: 16px;
  text-align: center;
}

.txt-footer {
  text-align: center;
  margin-bottom: 48px;
  margin-top: 21px;
}

footer img {
  vertical-align: middle;
}

.section-divider {
  margin: 40px 0 64px 0;
}

.footer-divider {
  margin: 40px 0 40px 0;
}